# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

# number = 8
print(number)

##### Assinging float

In [ ]:
numberFLoat = 2.3
print(numberFloat)

numberFloat = 3.14

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 3
num2 = 4.5

result = num1 + num2
print(result)

7.5

##### Subtraction

In [3]:
result_diff = num2 - num1
print(result_diff)

#Shorthand
result_diff -= 0.5
print(result_diff)

1.5
1.0

##### Multiplication

In [4]:
result_mul = num1 *num2
print(result_mul)

#shorthand
result_mul *=2
print(result_mul)

13.5
27.0

##### Division

In [5]:
result_div = num2/num1
print(result_div)

1.5

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)
#shorthand
result_floor //= 2
print(result_floor)

1.0
0.0

##### Modulo

In [9]:
result_mod = num2 % num1
print(result_mod)

1.5

##### Exponential

In [10]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [11]:
name = "Cameron"
print(name)

Cameron

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my name:", name)

print("Full name:", name,end=" Bailey")

This is my name: Cameron
Full name: Cameron Bailey

##### String Concatenation

In [19]:
first_name = "Rick"
last_name = "Sanchez"

full_name = first_name + " " + last_name
print(full_name)
#shorthand
full_name += " Jr."
print(full_name)

Rick Sanchez
Rick Sanchez Jr.

##### Type Conversion

In [22]:
num = "32"
type(num)

change_num_type = int(num)
print(change_num_type)
type(change_num_type)

32

int

##### input()

In [26]:
# Input will always be returned a string -- All the time

#name = input("What is your name?")

age = int(input("What is your age"))
add_age = age + 1
print(add_age)

What is your age26
27

##### format()

In [29]:
age = input("What is your age?")
result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)
result_again = f"{age} is a great time in life!!"
print(result_again)

What is your age?26
You are 26 Cameron and you are getting wiser!
26 is a great time in life!!

##### Old Way (python 2)

In [30]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 26 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
color = input("What is the color")
year = input("What is the year")
MM = input("What is the make and model")

Cardetails = "The color of this car is {} and it's a {} from {}".format(color,MM,year)
print(Cardetails)

What is the colorBlack
What is the year2020
What is the make and modelTesla model 3
The color of this car is Black and it's a Tesla model 3 from 2020

### If Statements

In [35]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Vaules")
else:
    print("Not Equal")
    
if num2 >= num1:
    print("NUm2 is greater")
else:
    print("Num1 is less")

Not Equal
NUm2 is greater

##### 'is' keyword

In [36]:
#Use "is" Keyword when checknig for same/similar object, nott the same value

num3 = 55
if num3 is 55:
    print("This is the exact same number/object")

This is the exact same number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-36-5818e41622cf>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [37]:
# check if character is in name

char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everyting...")

The character who lost everyting...

##### 'not in' keyword'

In [38]:
sega_char = "Sonic"
if "a" not in sega_char:
    print("a is not here... ")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [40]:
Your_name = input("What is your name")
if "p" not in Your_name:
    print("your name has no p")
else:
    print("your name has a p")

What is your nameCameron
your name has no p

## Using 'and'/'or' with If Statements

In [41]:
num_11 = 15
num_12 =3
num_13 = 10 
num_14 = 3

# IF with "and" statement
if num_11/5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [44]:
first_name = "John"

if first_name == "smith":
    print("The name is Smith")
elif first_name !="John":
    print("The name is not John ")
else:
    print("The name is John")

The name is John

### Else Statements

In [ ]:
# see above

### For Loops

In [51]:
#for i in range(10):
    #print(i)


name = "Cameron Bailey"
for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name(i))

C
a
m
e
r
o
n
B
a
i
l
e
y

TypeError: 'str' object is not callable


##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [52]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [57]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass #Todo: come back and finish implimentation

##### Double For Loops

In [62]:
for i in range(5):
    for j in range(5):
        print("i = ", i , "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [63]:
#while, condition statement
# continues based on conditional statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [64]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [69]:
while num < 5:
    print('\n While Loop Iteration: ' + str(num))
    
    for i in range(2):
        print('or Loop Iteration: ', str(i))
    num += 1

### Built-In Functions

##### range()

In [70]:
#Start, Stop, Step

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [72]:
#Check the legth of a variable
name = "Ryan"
length = len(name)
print(length)

4

##### help()

##### isinstance()

In [73]:
# Check a variable to find out what object family it belongs to
# is instance(variable, type)

print(isinstance(4.5,int))

False

##### abs()

### Try and Except

In [76]:
# use this whenever you erxpect a bug so the error causer the progrtam,to stoip
# Use this to log graceful errors and useful messages

try:
    number_test = 0
    input_num = int(input("Guess a number: "))
    if number_test != input_num:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print("That did not work ---- Error: Change your input")

Guess a number: Hi
That did not work ---- Error: Change your input

### Lists

##### Declaring Lists

In [78]:
l_1 = [] # Emplty list declaration

names = ["Bob","Sarah","Timmy","Gabby","Tina"]
print(names)

['Bob', 'Sarah', 'Timmy', 'Gabby', 'Tina']

##### Indexing a List

In [87]:
# [start:stop:step] -- [-1]

# Single Index
print(names[0])

print(names[1:])
      
print(names[:2])

print(names[1::2])

print(names[::-1])

Bob
['Sarah', 'Timmy', 'Gabby', 'Tina']
['Bob', 'Sarah']
['Sarah', 'Gabby']
['Tina', 'Gabby', 'Timmy', 'Sarah', 'Bob']

##### .append()

In [88]:
names.append("Terrell")
print(names)

['Bob', 'Sarah', 'Timmy', 'Gabby', 'Tina', 'Terrell']

##### .insert()

In [126]:
# list.insert(index,value)
names.insert(3,"Jon")
print(names)

['Max', 'Sam', 'Josh', 'Jon']
range(3, 3)

##### .pop()

In [125]:
# defualt to the last value if no paramiter is given
# pop returns the element that was removed -- This is good if you want to assign it to a variable

my_name = names.pop()
print(my_name)
print(names)

print(names.pop(3))

['Sally', 'Sue', 'Tameka']
['Max', 'Sam', 'Josh']

IndexError: pop index out of range


##### .remove()

In [95]:
# Value to be removed from a list -- NOT an index
#names.remove("Bob")
#print(names)

#Remove multiple bobs in list
while "Bob" in names:
    names.remove("Bob")
print(names)

['Sarah', 'Timmy', 'Gabby']

##### del()

In [96]:
# Index to removed, not a value
# BE CAREFUL WITH DEL, IT CAN CAUSE INDEXING ERRORS IF NOT USED CAREFULLY

del(names[1])
print(names)

['Sarah', 'Gabby']

##### Concatenating Two Lists

In [98]:
# This will append two lists together, not add up their elements

l_1 = [0,1,2]
l_2 = [3,4,5]

large_list = l_1 + l_2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [101]:
# Lists are able to hold any element includign other lists
# They can also go as deep as you want, having manylists inside of eachother

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [107]:
# Two ways to loop through listsone is by index, the other is by using the "in" keyword
#Loop wit ha for loop by index

for i in range(len(names)):
    print(name[i])
    
for i in names:
    print(i)
    
for index,value in enumerate(names):
    print("the index is: ", index, "The value is: ", value)

R
y
a
n
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
the index is:  0 The value is:  Max
the index is:  1 The value is:  Sam
the index is:  2 The value is:  Josh
the index is:  3 The value is:  ['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [109]:
for number in range(100):
    if number ** 3 <= 1000:
        print(number ** 3)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [141]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


    
for num in range(2,101):
    Prime = True
    for factor in range(2,num):
        if num % factor == 0:
            Prime = False
            break
        
    if Prime == True:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [114]:
Age = input("What is your age?")
if int(Age) < 18:
    print("Kids")
elif int(Age) < 65:
    print("Adults")
else:
    print("Seniors")

What is your age?89
Seniors